.footer-container {
  min-height: 15rem;
  border-top: 1px solid rgb(196, 196, 196);
  background-color: #dddddd;
}
.footer-menu-container {
}
.footer-logo-container {
  padding: 1rem;
}
.footer-logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
}
.email-a {
  color: #646464;
  text-decoration: none;
}
.email-a:hover {
  color: #00b349;
}
.footer-icons {
  height: 3rem;
}
.footer-icons > ul {
  height: 100%;
  width: 15rem;
  font-size: 2em;
}
.footer-icons > ul > li > a {
  color: #646464;
}
/* .footer-icons > ul > li > a:hover {
  color: #00e676;
} */
.twitter:hover{
    color: #1A91DA;
}
.insta:hover{
    color: #ff4e83;
}
.github:hover{
    color: #2b2b2b;
}
.linkedin:hover{
    color: #005e99;
}

