@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/Yekan.ttf") format("truetype");
}

html,body,#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: "Yekan";
}
*{
  box-sizing: border-box;
}